<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title">Trip Settings</h4>
  <button type="button" class="close btn btn-outline-danger rounded-circle" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="trip">
  <form>
    <div class="form-group d-flex">
      <div class="form-group" *ngIf="trip.coverImage">
        <img [src]="trip.coverImage.imageURL" alt="Cover Image" class="img-fluid ima me-2">
      </div>
      <div class="align-self-center">
        <div class="wrapper2 mt-2">
          <label for="file">Upload Cover Image</label>
          <div class="file-upload">
            <input type="file" (change)="onFileSelected($event)" multiple class="form-control-file" />
            <i class="bi bi-arrow-up-circle fs-4"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tripTitle">Title</label>
      <input type="text" id="tripTitle" class="form-control" [(ngModel)]="trip.title" name="tripTitle">
    </div>
    <div class="form-group">
      <label for="tripDescription">Description</label>
       <textarea type="text" name="tripDescription" id="tripDescription" class="form-control" [(ngModel)]="trip.description">Description</textarea>
    </div>
    <div class="form-group">
      <label for="start">Start Date</label>
      <input type="date" id="start" class="form-control" [(ngModel)]="trip.startDate" name="start">
    </div>
    <div class="form-group">
      <label for="end">End Date</label>
      <input type="date" id="end" class="form-control" [(ngModel)]="trip.endDate" name="end">
    </div>
    <div class="form-group">
      <label for="privacy">Privacy</label>
      <select id="privacy" class="form-control" [(ngModel)]="trip.privacy" name="privacy">
        <option value="PUBLIC">PUBLIC</option>
        <option value="PRIVATE">PRIVATE</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" class="form-control" [(ngModel)]="trip.status" name="status">
        <option value="PENDING">PENDING</option>
        <option value="COMPLETED">COMPLETED</option>
        <option value="ACTIVE">ACTIVE</option>
      </select>
    </div> 
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveSettings()">Save changes</button>
  <button type="button" class="btn btn-danger" (click)="confirmDeleteTrip()">Delete Trip</button>
</div>
