
<div class="color">
  <div class="ms-3 p-0">
    <div class="row m-0 p-0">
      <div class="col-4 pt-3 trips-container ">
        <div class="d-flex flex-column align-items-center">
          <img *ngIf="user?.image?.imageURL" [src]="user?.image?.imageURL" id="logo" alt="Profile Logo" class="rounded-circle mb-3" >
          <div *ngIf="!user?.image?.imageURL" class="placeholder mb-3 rounded-circle logo-2"></div>
          <div class="my-1 fw-semibold">{{ user?.firstName }} {{user?.lastName}}
            <div class="fst-italic text text-center">{{ user?.city }}</div>
            
          </div>
          
          <div class="d-flex gap-2 my-1">
            <div class="follow">{{ user?.followers | number:'1.0-0' }} Follower</div>
            <div class="follow">{{ user?.follow | number:'1.0-0' }} Following</div>
          </div>
        </div>
        
        <div class="text-center border border-dark mb-3">
          Trips
        </div>
        <div class="text-center my-2">
          <button type="button" routerLink="createTrip" class="btn btn-outline-info">Add trip</button>
        </div>
        
        <div class="">
          <div *ngFor="let trip of trips" class="text-center">
            <div class="position-relative mb-3">
              <a [routerLink]="['showTrip', trip.id]">
                <img *ngIf="trip.coverImage?.imageURL" [src]="trip.coverImage.imageURL" class="trip-image " alt="Trip Image" >
                <div [routerLink]="['showTrip', trip.id]" *ngIf="!trip.coverImage?.imageURL" class="mb-3 trip-image-empty "></div>
              </a>
              <div class="center ms-3 mb-3 text-white fs-5">
                {{ trip.title }}
              </div>
              <div class="position-absolute bottom-0 start-0 ms-3 mb-4 text-white">
                <div class="d-flex gap-3">
                  <div class="d-flex flex-column">
                    <div class="fw-semibold">Start Date</div>
                    <div class="fw-semibold">{{ trip.startDate | date: 'yyyy-MM-dd' }}</div>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="fw-semibold">End Date</div>
                    <div class="fw-semibold">{{ trip.endDate | date: 'yyyy-MM-dd' }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 p-0 map_box">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>