<div class="modal-header">
    <h4 class="modal-title">Select Coordinates</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="selectCoordinates()">Select</button>
  </div>
  