<div>
  <div class="d-flex justify-content-between">
    <h4 class="" >Add Step</h4>
    <div class="wrapper " (click)="goBack()">
      <div class="arrow">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class=" ">
    <form [formGroup]="stepForm" (ngSubmit)="saveStep()">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="arrivalDate">Arrival Date</label>
        <div class="input-group">
          <input id="arrivalDate" formControlName="arrivalDate" class="form-control" ngbDatepicker #startDp="ngbDatepicker" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="startDp.toggle()" type="button">📅</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="departureDate">Departure Date</label>
        <div class="input-group">
          <input id="departureDate" formControlName="departureDate" class="form-control" ngbDatepicker #endDp="ngbDatepicker" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDp.toggle()" type="button">📅</button>
          </div>
        </div>
      </div>
    </form>
    
    <form [formGroup]="positionForm">
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input id="latitude" formControlName="latitude" class="form-control" />
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input id="longitude" formControlName="longitude" class="form-control" />
      </div>
      <div class="form-group">
        <label for="nomeLocalita">Nome Località</label>
        <input id="nomeLocalita" formControlName="nomeLocalita" class="form-control" />
        <ul class="list-group" *ngIf="locationSuggestions.length > 0">
          <li class="list-group-item" *ngFor="let suggestion of locationSuggestions" (click)="selectSuggestion(suggestion)">
            {{ suggestion.place_name }}
          </li>
        </ul>
      </div>
    </form>
    
    
    
    <div class="wrapper2 mt-2">
      <label for="file">Upload Images</label>
  <div class="file-upload">
    
    <input type="file" (change)="onFilesSelected($event)" multiple class="form-control-file" />
    <i class="bi bi-arrow-up-circle fs-4"></i>
  </div>
</div>
    <div class="d-flex gap-2 justify-content-end">
      <button type="button" class="btn btn-secondary" (click)="goBack()" >Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="stepForm.invalid || positionForm.invalid" (click)="saveStep()">Save</button>
    </div>
  </div>
</div>
