.image{
    background-image: url("/assets/images/colorate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

.image-2 {
    background-image: url("/assets/images/IMG_4144.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

.color{
    background-color: #106db9;
}