*{
    box-shadow: inset;
  }

  .color{
    overflow-x: hidden;
    overflow-y: hidden;
  }

.image-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.text {
    font-size: 13px;
}

.set {
    font-size: 12px;
}

#map {
    width: 100%;
    height: 90vh;
}

.image-back-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    
}

.image-back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-content {
    position: relative;
    z-index: 1;
    color: white; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.trips-container {
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #17598f;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    stroke: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.placeholder-icon {
    width: 64px;
    height: 64px;
    background-color: grey; 
    display: flex;
    align-items: center;
    justify-content: center;
}
