.profile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
