<div *ngIf="user" class="border-bottom green sticky-top ">
  <div class="mx-4 ">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="assets/images/Caminando_logo.png" class="rounded-5 logo" alt="Logo">
      </a>
      <ul *ngIf="user" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <div [routerLink]="['/trip']" [routerLinkActive]="'active'"  class="nav-link px-2 link-body-emphasis">Trip</div>
        <li><a [routerLink]="['/itinerary']" [routerLinkActive]="'active'" class="nav-link px-2 link-body-emphasis">Itinerary</a></li>
        
      </ul>

      <div class="search-box me-2">
        <button class="btn-search"><i class="bi bi-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
      <div *ngIf="user" class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{user.image!.imageURL}}" alt="Profile" class="image-profile">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" [routerLink]="['/profilePage']" [routerLinkActive]="'active'" >Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>

      
    </div>
  </div>
</div >
